# Creating My Initial Dataset

## Introduction

I found a repository on GitHub that contained two useful datasets with information about athletes at the Olympic games from 1896-2020. In this notebook I will:

1. Combine the two datasets,
2. Clean/format any columns that I need changing,
3. Save my new dataset ready for some EDA (exploratory data analysis).

## 1. Combining the two datasets

First import the libraries that will be used in this notebook.

In [4]:
# Imports for data usage
import pandas as pd
import numpy as np

# For converting objects to datetime
import datetime
import time

Next, convert the two datasets from Github to pandas dataframes. Here are quick descriptions of what the two datasets contain:
- **df:** contains biographical data of all Olympic athletes from 1896-2020,
- **results:** contains information about general results of each athlete (such as which Olympics they competed in and what sport they play).

In [6]:
# Import two datasets from Github
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Olympics-Dataset/refs/heads/master/clean-data/bios.csv')
results = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Olympics-Dataset/refs/heads/master/clean-data/results.csv')

Now let's have a closer look at the columns contained in each of the two dataframes.

In [8]:
# column information about df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [10]:
# column  information about results
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        305807 non-null  float64
 1   type        305807 non-null  object
 2   discipline  308407 non-null  object
 3   event       308408 non-null  object
 4   as          308408 non-null  object
 5   athlete_id  308408 non-null  int64
 6   noc         308407 non-null  object
 7   team        121714 non-null  object
 8   place       283193 non-null  float64
 9   tied        308408 non-null  bool
 10  medal       44139 non-null   object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 23.8+ MB

Notice that both datasets contain the column ```athlete_id```. This value is unique for each athlete in the data.

So let's **merge the two dataframes on 'athlete_id'**.

In [12]:
# Merge the two dataframes on athlete_id to get all the information on each athlete
df = results.merge(df, on = ['athlete_id'], how = 'left')

Now we have the columns from both datasets combined into one dataset. Great!

## 2. Cleaning and Formatting the Combined Dataset

Let's look at the column information of our combined dataset, ```df```.

In [14]:
# Information on the combined dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          305807 non-null  float64
 1   type          305807 non-null  object
 2   discipline    308407 non-null  object
 3   event         308408 non-null  object
 4   as            308408 non-null  object
 5   athlete_id    308408 non-null  int64
 6   noc           308407 non-null  object
 7   team          121714 non-null  object
 8   place         283193 non-null  float64
 9   tied          308408 non-null  bool
 10  medal         44139 non-null   object
 11  name          308408 non-null  object
 12  born_date     305692 non-null  object
 13  born_city     246890 non-null  object
 14  born_region   246890 non-null  object
 15  born_country  246890 non-null  object
 16  NOC           308408 non-null  object
 17  height_cm     236910 non-null  float64
 18  weight_kg     227290 non-null  float64
 19  died_date     73521 non-null   object
dtypes: bool(1), float64(4), int64(1), object(14)
memory usage: 45.0+ MB

Straight away we see there are some issues.
- There are lots of null values in the data.
- Some of the column names are unclear (e.g. as, noc).

After a bit more exploration into the details about the columns, I set the following tasks.

### Initial Tasks:
1. Remove all entries with type = 'Winter' (winter olympics).
2. Rename some of the columns so they're more understandable (e.g. noc, NOC)
3. Drop columns that I don't need (e.g. type, as)

In [16]:
# This is what df looks like originally
df.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02

In [18]:
## Task 1:
# Remove all entries that have type 'Winter'
df = df[df.type == 'Summer']

In [20]:
# Task 2:
# Rename some of the columns
df = df.rename(columns = {'noc' : 'country_code',
                          'NOC' : 'country_name',
                          'place' : 'position'})

In [22]:
# Task 3:
# Drop columns that aren't relevant
df = df.drop(columns = ['type',    # All are type 'Summer'
                   'as',           # The same as the 'name' column
                   'team',         # This information isn't relevant to the project (more than half are null anyway)
                   'died_date'])   # Don't need this data

In [24]:
# Updated information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 241298 entries, 0 to 308326
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          241298 non-null  float64
 1   discipline    241298 non-null  object
 2   event         241298 non-null  object
 3   athlete_id    241298 non-null  int64
 4   country_code  241298 non-null  object
 5   position      223223 non-null  float64
 6   tied          241298 non-null  bool
 7   medal         35990 non-null   object
 8   name          241298 non-null  object
 9   born_date     239172 non-null  object
 10  born_city     190573 non-null  object
 11  born_region   190573 non-null  object
 12  born_country  190573 non-null  object
 13  country_name  241298 non-null  object
 14  height_cm     185963 non-null  float64
 15  weight_kg     178640 non-null  float64
dtypes: bool(1), float64(4), int64(1), object(10)
memory usage: 29.7+ MB

### Creating an Age column

One of the most important features that I want to use in this project is the age of the athletes. However, the dataset currently only contains the athletes' dates of birth. I need to use this information to find out the ages of each athlete (at the time they competed in the olympics).

**Age:** I need to find out the age of each athlete at the time they competed in the Olympics.
1. Convert the 'born_date' column to datetime dtype
2. Find out the start date of every olympic games up to 2020 and put these values in a dictionary
3. Create a new column in df called 'olympics_date' that contains the corresponding start date to each Olympics
4. Convert 'olympics_date' column to datetime dtype
5. Create a new column in df called 'age' by subtracting 'born_date' from 'olympics_date'
6. Convert the 'age' column to a numeric data type

In [26]:
# 1. Convert 'born_date' column from object to datetime type
df['born_date'] = pd.to_datetime(df['born_date'])

In [28]:
# 2. Dictionary containing the start date of every (summer) Olympic games
start_dates = {1896: '1896-04-06', 1900: '1900-05-14', 1904: '1904-07-01', 1908: '1908-04-27', 1912: '1912-07-06',
             1920: '1920-08-14', 1924: '1924-07-05', 1928: '1928-07-28', 1932: '1932-07-30', 1936: '1936-08-01',
             1948: '1948-07-23', 1952: '1952-07-19', 1956: '1956-11-22', 1960: '1960-08-27', 1964: '1964-10-09',
             1968: '1968-10-12', 1972: '1972-08-26', 1976: '1976-07-17', 1980: '1980-07-19', 1984: '1984-07-28',
             1988: '1988-09-17', 1992: '1992-07-25', 1996: '1996-07-19', 2000: '2000-09-15', 2004: '2004-08-13',
             2008: '2008-08-08', 2012: '2012-07-27', 2016: '2016-08-05', 2020: '2021-07-23'}

In [30]:
# Check that all the years in the dataset match the years in the start_dates dictionary
df['year'].unique()

array([1912., 1920., 1996., 1924., 1992., 2000., 2004., 2008., 1900.,
       1908., 1896., 1984., 1988., 1904., 2012., 2016., 1976., 1972.,
       1980., 1928., 2020., 1968., 1956., 1952., 1960., 1964., 1948.,
       1932., 1936., 2010., 2014., 2018.])

In [32]:
# There shouldn't be olympics in 2010, 2014, or 2018
    # It turns out that they have data from youth olympics that took place in these years.
l = [1912., 1920., 1996., 1924., 1992., 2000., 2004., 2008., 1900.,
       1908., 1896., 1984., 1988., 1904., 2012., 2016., 1976., 1972.,
       1980., 1928., 2020., 1968., 1956., 1952., 1960., 1964., 1948.,
       1932., 1936., 2010., 2014., 2018.]

sorted(l)

[1896.0,
 1900.0,
 1904.0,
 1908.0,
 1912.0,
 1920.0,
 1924.0,
 1928.0,
 1932.0,
 1936.0,
 1948.0,
 1952.0,
 1956.0,
 1960.0,
 1964.0,
 1968.0,
 1972.0,
 1976.0,
 1980.0,
 1984.0,
 1988.0,
 1992.0,
 1996.0,
 2000.0,
 2004.0,
 2008.0,
 2010.0,
 2012.0,
 2014.0,
 2016.0,
 2018.0,
 2020.0]

In [34]:
# Remove the data from 2010, 2014 and 2018 from the dataset df
df = df[(df.year != 2010) & (df.year != 2014) & (df.year != 2018)]

In [38]:
# Create a new column for the olympics start dates. Each value containing an empty string
df[['olympics_date']] = ''

In [40]:
# Reset the index so that the following for loop will work
df = df.reset_index(drop = True)

In [42]:
# 3. Using a for loop and the start_dates dictionary I add the corresponding entries into the 'olympics_date' column
for i in range (0, len(df)):
    df.loc[i,'olympics_date'] = start_dates[df.loc[i,'year']]

In [43]:
# Check that it has worked
df.head()

,year,discipline,event,athlete_id,country_code,position,tied,medal,name,born_date,born_city,born_region,born_country,country_name,height_cm,weight_kg,olympics_date
0,1912.0,Tennis,"Singles, Men (Olympic)",1,FRA,17.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1912-07-06
1,1912.0,Tennis,"Doubles, Men (Olympic)",1,FRA,NaN,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1912-07-06
2,1920.0,Tennis,"Singles, Men (Olympic)",1,FRA,32.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1920-08-14
3,1920.0,Tennis,"Doubles, Mixed (Olympic)",1,FRA,8.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1920-08-14
4,1920.0,Tennis,"Doubles, Men (Olympic)",1,FRA,4.0,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1920-08-14

In [44]:
# 4. Convert the olympics date column to datetime data type
df['olympics_date'] = pd.to_datetime(df['olympics_date'])

In [45]:
# 5. Create an 'age' column by subtracting the 'born_date' from the 'olympics_date'
df['age'] = df['olympics_date'] - df['born_date']

In [46]:
# Before converting the age to an integer, I need to remove entries with nulls in the the 'born_date' and 'age' columns
df = df[df.born_date.notnull()]

In [47]:
# 6. Convert the 'age' column to integer data type
df['age'] = df['age'].dt.days.astype('int16')

In [49]:
# The age is in days, let's convert it to years
df.age = df.age/365.25

## 3. Save my Initial Dataset ready for EDA

In [60]:
# Let's have a look at the updated column information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237781 entries, 0 to 239905
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           237781 non-null  float64
 1   discipline     237781 non-null  object
 2   event          237781 non-null  object
 3   athlete_id     237781 non-null  int64
 4   country_code   237781 non-null  object
 5   position       220096 non-null  float64
 6   tied           237781 non-null  bool
 7   medal          35353 non-null   object
 8   name           237781 non-null  object
 9   born_date      237781 non-null  datetime64[ns]
 10  born_city      189201 non-null  object
 11  born_region    189201 non-null  object
 12  born_country   189201 non-null  object
 13  country_name   237781 non-null  object
 14  height_cm      184509 non-null  float64
 15  weight_kg      177203 non-null  float64
 16  olympics_date  237781 non-null  datetime64[ns]
 17  age            237781 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(5), int64(1), object(9)
memory usage: 32.9+ MB

We still have null values in the following columns:
- **position**: I assume that nulls in this column means that the athlete was registered to start their event but had to drop out for whatever reason.
- **medal**: Obviously many athletes would have not got a medal.
- **born_city, born_region, born_country**: missing data, the country of birth must be unknown (will probably need to remove these entries)
- **height_cm, weight_kg**: missing data, the height and weight must be unknown (will definitely need to remove these entries)

In [62]:
# The ideal dataset containing no nulls (apart from in the 'medal' column) has 136775 entries overall
df[(df.height_cm.notnull()) & (df.weight_kg.notnull()) & (df.born_country.notnull()) & (df.position.notnull())].info()

<class 'pandas.core.frame.DataFrame'>
Index: 136775 entries, 5 to 239905
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           136775 non-null  float64
 1   discipline     136775 non-null  object
 2   event          136775 non-null  object
 3   athlete_id     136775 non-null  int64
 4   country_code   136775 non-null  object
 5   position       136775 non-null  float64
 6   tied           136775 non-null  bool
 7   medal          23836 non-null   object
 8   name           136775 non-null  object
 9   born_date      136775 non-null  datetime64[ns]
 10  born_city      136775 non-null  object
 11  born_region    136775 non-null  object
 12  born_country   136775 non-null  object
 13  country_name   136775 non-null  object
 14  height_cm      136775 non-null  float64
 15  weight_kg      136775 non-null  float64
 16  olympics_date  136775 non-null  datetime64[ns]
 17  age            136775 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(5), int64(1), object(9)
memory usage: 18.9+ MB

In [64]:
# However, for now we will save the dataset that includes the nulls
    # Will leave removing the nulls for when we do some modelling

# Before saving the dataset I will make some final minor adjustments to df

df = df.reset_index(drop = True) # reset the index so that the index matches the number of entries

In [66]:
# Reorder the columns in a way to make it a bit easier to follow
df = df[['athlete_id', 'name', 'height_cm', 'weight_kg',
                   'born_date', 'age', 'country_name', 'country_code', 'born_city',
                   'born_region', 'born_country', 'year', 'olympics_date', 'discipline',
                   'event', 'position', 'tied', 'medal']]

In [68]:
df.head()

,athlete_id,name,height_cm,weight_kg,born_date,age,country_name,country_code,born_city,born_region,born_country,year,olympics_date,discipline,event,position,tied,medal
0,1,Jean-François Blanchy,NaN,NaN,1886-12-12,25.563313,France,FRA,Bordeaux,Gironde,FRA,1912.0,1912-07-06,Tennis,"Singles, Men (Olympic)",17.0,True,NaN
1,1,Jean-François Blanchy,NaN,NaN,1886-12-12,25.563313,France,FRA,Bordeaux,Gironde,FRA,1912.0,1912-07-06,Tennis,"Doubles, Men (Olympic)",NaN,False,NaN
2,1,Jean-François Blanchy,NaN,NaN,1886-12-12,33.670089,France,FRA,Bordeaux,Gironde,FRA,1920.0,1920-08-14,Tennis,"Singles, Men (Olympic)",32.0,True,NaN
3,1,Jean-François Blanchy,NaN,NaN,1886-12-12,33.670089,France,FRA,Bordeaux,Gironde,FRA,1920.0,1920-08-14,Tennis,"Doubles, Mixed (Olympic)",8.0,True,NaN
4,1,Jean-François Blanchy,NaN,NaN,1886-12-12,33.670089,France,FRA,Bordeaux,Gironde,FRA,1920.0,1920-08-14,Tennis,"Doubles, Men (Olympic)",4.0,False,NaN

In [70]:
# Save the dataset
df.to_csv('Olympic Athlete Complete Data.csv')